extends layout

block content
  div(id="persoenliches",style="padding-top:70px")
    h1 Lebenslauf
    
    div(style="padding-top:20px; padding-bottom:40px")  
      h3 Persönliche Daten
    .container
      .col-md-12
        p Marcel Hoppe
        p Nieder-Ohmener Straße 6
        p 35329 Gemünden (Felda)
        br
        p Telefon: +49 (0) 6634 919414
        p E-Mail: hoppe.marcel@gmail.com
        
  div(id="ausbildung", style="padding-top:70px; padding-bottom:40px")
    h3 Ausbildungsweg
  .container
    .col-md-2
      p 2013 - heute
    .col-md-10
      strong Technische Hochschule Mittelhessen, Gießen
      p Bachelor-Studiengang Informatik, vorraussichtlicher Abschluss (B.Sc.) 2016
    .col-md-2
      p 2010 - 2013
    .col-md-10
      strong Staatliche Berufsschule Lauingen, Lauingen
      p Berufsschule (Systeminformatiker)
    .col-md-2
      p 2009 - 2010
    .col-md-10
      strong Hochtaunusschule, Oberursel
      p Berufsschule (Systeminformatiker)
    .col-md-2
      p 2006 - 2009
    .col-md-10
      strong Max-Eyth-Schule Alsfeld, Alsfeld
      p Fachoberschule
    .col-md-2
      p 2002 - 2006
    .col-md-10
      strong Gesamtschule Mücke, Nieder-Ohmen
      p Realschule
        
  div(id="praxis", style="padding-top:70px; padding-bottom:40px")  
    h3 Praktische Erfahrungen
  .container
    .col-md-2
      p 02.2013 - 09.2013
    .col-md-10
      strong Entwicklungs-Support
      p Continental Automotive GmbH, Wetzlar
    .col-md-2
      p 09.2009 - 02.2013
    .col-md-10
      strong Ausbildung zum Systeminformatiker
      p Continental Automotive GmbH, Wetzlar
    .col-md-2
      p 2006 - 2007
    .col-md-10
      strong Jahrespraktikum
      p Diehl-Software, Feldatal

  div(id="zusatz", style="padding-top:70px; padding-bottom:40px")      
    h3 Zusätzliche Qualifikation
  .container
    .col-md-2
      p Führerschein
    .col-md-10
      p A1
      p B
      p L
      p M
      p T
    .col-md-2
      p Computerkenntnisse
    .col-md-10
      p gute Windowskenntnisse
      p sehr gute Linuxkenntnisse
      p gute Officekenntnisse
    .col-md-2
      p Programmiersprachen
    .col-md-10
      p C
      p Java
      p JavaScript (sowohl Client- als auch Serverseitig)
      p Perl
      p PHP
      p Python
      p SQL
    .col-md-2
      p Fremdsprachen
    .col-md-10
      p Schulkenntnisse Englisch (B2)

